html {
  font-family: helvetica;
  text-align: center;
}
.banner {
  background-image: url("images/the-flatiron-building.png");
}
.header1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.links {
  font-size: 18px;
  color: white;
}
ul {
  list-style: none;
}
.header2 {
  font-size: 32px;
  font-weight: bold;
}
.header3 {
  font-size: 23px;
  font-weight: bold;
}
.header4 {
  font-size: 14px;
}
.header5 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
